*, *::after, *::before{
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: #26171E;
}

div.victory{
    padding: 0.25em;
    display: block;
}

h1.victory{
    margin: 0.5em;
    font-size: 3em;
    color:#C0E8F9;
    text-align: center;
}

h3.victory{
    margin: 0.5em;
    font-size: 1.5em;
    color:#C0E8F9;
    text-align: center;
}

button.victory{
    margin: 0.5em;
    padding: 0.25em;
    width: auto;
    height: 2em;
    font-size: 1.5em;
    color:#336699;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cnt-info{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

p:nth-of-type(1){
    font-size: 1.5em;
    color: #C0E8F9;
    text-align: center;
}

#info{
    margin-left: 0.5em;
    font-size: 1.25em;
    color: #C0E8F9;
    text-align: center;
}

div.grid-container{
    background-color: #336699;
    display: grid;
    height: fit-content;
    width: fit-content;
    margin: auto;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0.25em;
    row-gap: 0.25em;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
}

.grid-container > button {
    width: 8em;
    background-color: #071013;
    height: 8em;
}

h1{
    font-size: 3em;
    color: #C0E8F9;
    text-align: center;
}

h3{
    font-size: 1.5em;
    color: #C0E8F9;
    text-align: center;
}